.bg1 {
  background: url("Images/GrePCcompanyImage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bg2 {
  background-image: url("Images/GrePCDeals.jpg");
  background-repeat: repeat;
  background-size: 50%;
}

.bg3 {
  background-image: url("Images/GrePCAllAboutU.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bg4 {
  background-image: url("Images/GrePCContactUs2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bg5 {
  background-image: url("Images/How2PC.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bg6 {
  background-image: url("Images/How2Monitors.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bg7 {
  background-image: url("Images/How2Network.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bg8 {
  background-image: url("Images/How2Peripheral.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bg9 {
  background-image: url("Images/How2Software.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bg10 {
  background-image: url("Images/How2Hardware.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bg11 {
  background-image: url("Images/How2Advanced.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bg12 {
  background-image: url("Images/How2Storage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bg13 {
  background-image: url("Images/How2Gaming.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bg14 {
  background-color: black;
}

.account {
  color: white;
  letter-spacing: 3px;
  font-weight: bolder;
  font-size: 25px;
  text-decoration: none;
  list-style-type: none;
}

.logo h1 {
  font-size: 100px;
  color: red;
  height: 100px;
}

.nav-tabs {
  color: white;
}

* {
  margin: auto;
  padding: 0px;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

.a {
  background-color: rgba(99, 99, 99, 0.5);
  color: red;
  width: 100%;
  height: 70px;
  border-radius: 45px;
  word-spacing: 20px;
}

.a :hover {
  color: rgb(99, 99, 99);
  width: 100%;
  height: 70px;
  border-radius: 45px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0;
}

.Con {
  color: white;
  font-size: 40px;
  text-align: right;
}

.Email {
  color: white;
  font-size: 38px;
  display: block;
  text-align: right;
  text-decoration: none;
}

.Email:hover {
  color: red;
}

.Email:active {
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  list-style-type: none;

}

.nav-links a {
  color: white;
  letter-spacing: 3px;
  font-weight: bolder;
  font-size: 25px;
  text-decoration: none;
  list-style-type: none;
}

.logo {
  color: red;
  height: 100px;
  word-spacing: 15px;
}

.li {
  list-style: none;
}

.FYI {
  color: white;
  font-size: 60px;
  font-weight: bolder;
  padding: 32px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f7f6ff;
}

h2 {
  margin: 16px;
}

.container {
  margin-top: -50px;
  padding: 32px;
  color: gold;
  font-weight: bolder;
}

.select-box {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.select-box .options-container {
  background: black;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;

  order: 1;
}

.selected {
  background: black;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative;
  font-size: 30px;
  order: 0;
}

.selected::after {
  content: "";
  background: url("img/arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active+.selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #0d141f;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: rgba(218, 165, 32, 0.5);
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}


.burger div {
  width: 40px;
  height: 5px;
  margin: 0 0 5px;
  background-color: red;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

.loginbox {
  width: 320px;
  height: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: gold;
  color: #000;
}

.loginbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.loginbox a:hover {
  color: gold;
}

@media screen and (max-width:768px) {
  body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 100%;
  }

  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 0px;
    padding-top: 130px;
  }

  nav {
    height: 400px;
  }

  .FYI {
    padding-top: 150px;
  }

  .burger {
    margin-right: 30px;
  }

  a {
    font-size: fixed;
  }

  .select-box {
    padding-bottom: 20%;
  }
}